*{
  margin: 0;
  padding: 0;
}
header{
  text-align:center ;
  background: linear-gradient(to bottom, #ff7e5f, #feb47b);
  height:50px;
  width: 100%;
  
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  background-color: #feb47b;
  margin: 10px;
}
button:hover{
  background-color: antiquewhite;
}
h2{
  text-align: center;
}


.array{
  margin-top: 50px;
  text-align: center;
}

